In [2]:
import pandas as pd 
import os

In [3]:
file_path = r"E:\pythonProjects\tuniu\apps\crawler\html\最终数据\21"

In [9]:
df = pd.read_excel(os.path.join(file_path, "【主】详情页-基本信息.xlsx"), encoding="utf8")

In [10]:
df.head()

,add_time,crawl_num_id,departDate,id,productId,tab,tuniuChildPrice,tuniuPrice
0,2019-12-20 13:34:09.352044+00:00,21,2019-12-23,2270217,210052821,跟团,4884,3448
1,2019-12-20 13:34:09.360096+00:00,21,2019-12-24,2270218,210052821,跟团,3319,3288
2,2019-12-20 13:34:09.369403+00:00,21,2019-12-25,2270219,210052821,跟团,4519,3519
3,2019-12-20 13:34:09.373286+00:00,21,2019-12-26,2270220,210052821,跟团,4404,3447
4,2019-12-20 13:34:09.379322+00:00,21,2019-12-28,2270221,210052821,跟团,3269,3529

In [11]:
def add_time(x):
    return x.replace("2019-12-20", "2019-12-22")

df["add_time"] = df["add_time"].apply(add_time)

In [12]:
df.head()

,add_time,crawl_num_id,departDate,id,productId,tab,tuniuChildPrice,tuniuPrice
0,2019-12-22 13:34:09.352044+00:00,21,2019-12-23,2270217,210052821,跟团,4884,3448
1,2019-12-22 13:34:09.360096+00:00,21,2019-12-24,2270218,210052821,跟团,3319,3288
2,2019-12-22 13:34:09.369403+00:00,21,2019-12-25,2270219,210052821,跟团,4519,3519
3,2019-12-22 13:34:09.373286+00:00,21,2019-12-26,2270220,210052821,跟团,4404,3447
4,2019-12-22 13:34:09.379322+00:00,21,2019-12-28,2270221,210052821,跟团,3269,3529

In [ ]:
df.to_excel(os.path.join(file_path, "【主】详情页-基本信息.xlsx"), encoding="utf8")

In [10]:
df = pd.read_excel(os.path.join(file_path, "【主】详情页-评论总结.xlsx"), encoding="utf8")
df.head()

,add_time,crawl_num_id,id,money,notSatNum,pageNum,productId,satNum,sat_daoyou,sat_jiaotong,sat_xingcheng,sat_zhusu,satisfaction,score_daoyou,score_jiaotong,score_xingcheng,score_zhusu,tab,totalNum,ybNum
0,2019-11-23 15:44:36.066970+00:00,17,38788,710,48,454,210443228,4386,4.9,98.0,97.0,96.0,98,4.9,4.9,4.9,4.8,跟团,4533,99
1,2019-11-23 15:44:36.073983+00:00,17,38789,925,218,838,210052821,7592,4.3,94.0,89.0,92.0,93,4.3,4.7,4.5,4.6,跟团,8372,562
2,2019-11-23 15:44:36.207198+00:00,17,38790,645,89,522,210625799,4964,4.8,96.0,94.0,95.0,97,4.8,4.8,4.7,4.8,跟团,5211,158
3,2019-11-23 15:44:36.243841+00:00,17,38791,195,70,326,210051883,2967,4.2,92.0,87.0,96.0,93,4.2,4.6,4.4,4.8,跟团,3253,216
4,2019-11-23 15:44:36.209202+00:00,17,38792,80,10,52,210511541,489,4.9,97.0,96.0,96.0,97,4.9,4.9,4.8,4.8,跟团,520,21

In [11]:
df["add_time"] = df["add_time"].apply(add_time)

In [12]:
df.head()

,add_time,crawl_num_id,id,money,notSatNum,pageNum,productId,satNum,sat_daoyou,sat_jiaotong,sat_xingcheng,sat_zhusu,satisfaction,score_daoyou,score_jiaotong,score_xingcheng,score_zhusu,tab,totalNum,ybNum
0,2019-11-24 15:44:36.066970+00:00,17,38788,710,48,454,210443228,4386,4.9,98.0,97.0,96.0,98,4.9,4.9,4.9,4.8,跟团,4533,99
1,2019-11-24 15:44:36.073983+00:00,17,38789,925,218,838,210052821,7592,4.3,94.0,89.0,92.0,93,4.3,4.7,4.5,4.6,跟团,8372,562
2,2019-11-24 15:44:36.207198+00:00,17,38790,645,89,522,210625799,4964,4.8,96.0,94.0,95.0,97,4.8,4.8,4.7,4.8,跟团,5211,158
3,2019-11-24 15:44:36.243841+00:00,17,38791,195,70,326,210051883,2967,4.2,92.0,87.0,96.0,93,4.2,4.6,4.4,4.8,跟团,3253,216
4,2019-11-24 15:44:36.209202+00:00,17,38792,80,10,52,210511541,489,4.9,97.0,96.0,96.0,97,4.9,4.9,4.8,4.8,跟团,520,21

In [17]:
df = df.drop_duplicates("productId")

In [19]:
df.to_excel(os.path.join(file_path, "【主】详情页-评论总结.xlsx"), encoding="utf8")